<!--
  Generated template for the SchuetzeResultatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{schuetze.vorname}} {{schuetze.nachname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list> <!-- Stiche -->

    <!-- If result is in whole integers, show select, else show regular input for entry -->
    <ion-item *ngFor="let stich of stiche | async" [ngSwitch]="resultatIsDecimal(stich)"> <!-- Stich -->
      <ion-label>{{ stich.name }}</ion-label>

      <!-- Case: Select -->
      <ion-select [(ngModel)]="TODO" *ngSwitchCase="true">
        <ion-option *ngFor="let resultat of getResultatOptions(stich)" value="{{ resultat }}">{{ resultat }}</ion-option>
      </ion-select>

      <!-- Case: Input TODO: add validation of having exactly one decimal point here (maybe with decimalpipe: https://stackoverflow.com/questions/42069234/force-2-decimal-places-precision-in-ion-input -->
      <ion-input type="number" value="" *ngSwitchCase="false" min="0" max="{{resultatMax(stich)}}" step="0.1" text-right></ion-input>

    </ion-item>
  </ion-list>
</ion-content>
