<!--
  Generated template for the SchuetzenfestShowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{schuetzenfest.name}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchbarVisibility()" *ngIf="tab_selection == 'schuetzen'">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getSchuetzen($event)" *ngIf="searchbarShowing && tab_selection == 'schuetzen'" [@searchbarAnimation]></ion-searchbar>

  <div padding>
    <ion-segment [(ngModel)]="tab_selection">
      <ion-segment-button value="stiche">
        Stiche
      </ion-segment-button>
      <ion-segment-button value="schuetzen">
        Schützen
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tab_selection">
    <ion-list *ngSwitchCase="'stiche'" (ionFocus)="searchbarShowing = false">
      <button ion-item *ngFor="let stich of stiche" (tap)="selectStich(stich)" (press)="presentActionSheet(stich)">
        {{ stich.name }}
      </button>

      <ion-fab right bottom>
        <button ion-fab (tap)="addStich()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
    </ion-list>

    <ion-list *ngSwitchCase="'schuetzen'">
      <button ion-item *ngFor="let schuetze of schuetzen" (tap)="selectSchuetze(schuetze)" (press)="presentActionSheet(schuetze)">
        <span class="schuetze-name" float-left>{{ schuetze.vorname }} {{ schuetze.nachname }}</span>
        <span class="schuetze-lizenz" float-right>{{ schuetze.lizenzNr }}</span>
      </button>

      <ion-fab right bottom>
        <button ion-fab (tap)="addSchuetze()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
    </ion-list>
  </div>

</ion-content>
